@charset "UTF-8";

@font-face {
    font-family: 'idroid' ;
    src: url(fontes/idroid.otf) format(opentype);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0px;
    margin: auto;
}

:root{
    --cor-video: #43C700;
    --cor1: #a4c639;
    --cor-link: #D4BE33;

    --title: 'idroid', cursive;
    --principal: 'roboto', sans-serif;
    --cabeca: 'Bebas Neue', cursive;
}

body{
    background-color: #023535;
}

header{
    min-width: 400px;
    text-align: center;
    color: white;
    background-image: linear-gradient(to top, #015958, #008F8C, #0CABA8);
    padding-top: 20px;
}

header  p{
    padding-bottom: 20px;
    max-width: 400px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}

header  p {
    font-family: var(--principal);
    text-align: center;
}

main p {
    text-align: justify;
    text-indent: 30px;
    font-family: var(--principal);
}

#incio > h1 {
    color: white;
    font-family: var(--cabeca);
}

nav{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.056);
    margin: auto;
    text-align: left;
}

nav > a {
    transition-duration: 0.5s;
    font-weight: lighter;
    font-family: var(--principal);
    color: whitesmoke;
    text-decoration: none;
}

nav > a:hover{
    background-color: #D4BE33;
    border-radius: 7px;
}

main{
    max-width: 900px;
    margin: auto;
    background-color: white;
}

h2 {
    color: var(--cor1);
    padding: 3px;
    margin: 2px;
    font-family: var(--title);
}

a {
    text-decoration: none;
    color: var(--cor-link);
}

.dan{
    display: block;
    text-align: center;
}

.irina{
    display: block;
    text-align: center;
}

.bugdroid {
    display: block;
    text-align: center;
}

.video {
    padding-top: 3px;
    background-color: var(--cor1);
    text-align: center;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

.video > iframe {
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    position: absolute;
}


aside > h3 {
    font-family: var(--principal);
    color: white;
    padding: 4px;
    margin: -10px -10px 0px -10px;
    border-radius: 2px 7px;
    text-indent: 5px;
    background-color: var(--cor-video);
}

aside {
    background-color: #DFDC7A ;
    padding: 5px;
    margin: 10px;
    border: 2px;
    border-radius: 2px 7px 7px 3px;
}

ul{
    list-style-type:'\2714\00A0\00A0';
    padding-left: 10px;
    list-style-position: inside;
    columns: 2;
}
#fim{
    padding-bottom: 10px;
    margin: 6px;
}

footer{
    margin: 3px;
}